<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.starjoys.tool.packonline.modules.sdk.dao.SdkDao">

    <sql id="columnName">
        a.sdkId,
        a._cchId,
        a.sdkSystem,
        a.sdkCreateDate,
        a.status,
        ver.sdkVerId AS 'ver.sdkVerId',
        ver.sdkVerName AS 'ver.sdkVerName',
        ver.sdkVerUpDate AS 'ver.sdkVerUpDate',
        ver.sdkVerUpDesc AS 'ver.sdkVerUpDesc',
        ver.sdkVerUpPath AS 'ver.sdkVerUpPath',
        ver.isNew AS 'ver.isNew',
        ver.status AS 'ver.status',
        us.userId AS 'ver.us.userId',
        us.username AS 'ver.us.username',
        cch._id AS 'cch.id',
        cch.cchId AS 'cch.cchId',
        cch.cchName AS 'cch.cchName',
        cch.cchShortName AS 'cch.cchShortName'
    </sql>


    <sql id="baseColumnName">
        sdkId,
        _cchId,
        sdkSystem,
        sdkCreateDate,
        status
    </sql>

    <!-- 查询所有数据 -->
    <select id="findAllList" resultType="SdkEntity">
        SELECT
        <include refid="columnName" />
        FROM
        tbl_sdk AS a, tbl_sdk_version AS ver, tbl_user AS us, tbl_channel AS cch
        WHERE
        ver.isNew = 1
        AND cch.status = #{FLAG_STATUS_ACTIVE}
        AND a.sdkId = ver.sdkId
        AND ver.userId = us.userId
        AND a._cchId = cch._id
    </select>


    <!-- 分页查询 -->
    <select id="findListByPage" resultType="SdkEntity">
        SELECT SQL_CALC_FOUND_ROWS
            <include refid="columnName" />
        FROM
             tbl_sdk AS a, tbl_sdk_version AS ver, tbl_user AS us, tbl_channel AS cch
        WHERE
            a.status = #{FLAG_STATUS_ACTIVE}
            AND ver.isNew = #{FLAG_STATUS_ACTIVE}
            AND cch.status = #{FLAG_STATUS_ACTIVE}
            AND a.sdkId = ver.sdkId
            AND ver.userId = us.userId
            AND a._cchId = cch._id
        <if test="cch != null and cch.id != null and cch.id != 0">
            AND cch._id = #{cch.id}
        </if>
        <if test="sdkSystem != null and sdkSystem != ''">
            AND a.sdkSystem = #{sdkSystem}
        </if>
        ORDER BY
            cch.cchId ASC
        LIMIT #{pageStart}, #{rows}
    </select>

    <!-- 分页查询的总数 -->
    <select id="findCountByPage" resultType="Integer">
        SELECT found_rows()
    </select>

    <!-- 获取单条记录 -->
    <select id="get" resultType="SdkEntity">
        SELECT
        <include refid="columnName" />
        FROM
        tbl_sdk AS a, tbl_sdk_version AS ver, tbl_user AS us, tbl_channel AS cch
        WHERE
        ver.isNew = 1
        AND a.sdkId = #{id}
        AND a.sdkId = ver.sdkId
        AND ver.userId = us.userId
        AND a._cchId = cch._id
    </select>

    <!--&lt;!&ndash; 通过名称获取 &ndash;&gt;-->
    <!--<select id="getByName" resultType="SdkEntity">-->
        <!--SELECT-->
        <!--<include refid="baseColumnName" />-->
        <!--FROM tbl_sdk-->
        <!--WHERE status = #{FLAG_STATUS_ACTIVE}-->
        <!--AND sdkName = #{sdkName}-->
    <!--</select>-->

    <!-- 通过渠道id获取 -->
    <select id="getBy_CchId" resultType="SdkEntity">
        SELECT
        <include refid="baseColumnName" />
        FROM tbl_sdk
        WHERE status = #{FLAG_STATUS_ACTIVE}
        AND _cchId = #{cch.id}
    </select>


    <!-- 插入数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="sdkId">
        INSERT INTO
        tbl_sdk(<include refid="baseColumnName" />)
        VALUES (
        0,
        #{cch.id},
        #{sdkSystem},
        #{sdkCreateDate},
        1
        )
    </insert>

    <!-- 更新数据 -->
    <update id="update">
        UPDATE
          tbl_sdk
        SET
        _cchId = #{cch.id},
        sdkSystem = #{sdkSystem}
        WHERE
        sdkId = #{sdkId}
    </update>


</mapper>